.rating{
    margin-left: 10px;

    
    .star-container{
        display: flex;
        align-items: center;
        svg{
            margin-right: 4px;
        }
        .fill{
            height: 12px;
            width: 12px;
            color: gray;
            
            
    }
    .empty{
        height: 12px;
         width: 12px;
        
    }
    .half{

        height: 12px;
            width: 12px;
            color: gray;

    }
    h2{
        padding-left: 5px;
    }
}
}